<main id="Home">

	<section>

		<h1>The Book</h1>

		<% if current_user %>
			<h2>Welcome, brother.</h2>
		<% else %>
			<%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
		<% end %>

	</section>

</main>