@font-face {
	font-family: "Nevis";
	src: url(/fonts/Nevis/nevis.ttf);
}

$font-family: Arial, Helvetica, sans-serif;
$primary-color: #001e33;//#002640;// #003050;
$secondary-color: #edb700;
$facebook-color: #3b5998;
$h1-color: $secondary-color;
$h2-color: $secondary-color;



/* Templating */
html, body, div, span, h1, h2, h3, h4,
h5, h6, p, a, img, i, ol, ul, li, form,
label, table, caption, {
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
	font-family: $font-family;
	background-image: -ms-linear-gradient(top left, #001E33 0%, #003752 100%);
	background-image: -moz-linear-gradient(top left, #001E33 0%, #003752 100%);
	background-image: -o-linear-gradient(top left, #001E33 0%, #003752 100%);
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #001E33), color-stop(1, #003752));
	background-image: -webkit-linear-gradient(top left, #001E33 0%, #003752 100%);
	background-image: linear-gradient(to bottom right, #001E33 0%, #003752 100%);
	background-attachment: fixed;

	body {

		.wrapper {
			width: 100%;

			main {
				margin: 0 auto;
				padding: 100px 0 20px 0;
				width: 80%;
				max-width: 1000px;
				overflow: auto;

				section {

					h1 {
						color: $h1-color;
						text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
					}
					h2 {
						color: $h2-color;
						text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
					}
				}
				section:first-child {

					> h1 {
						margin: 0 0 10px 0;
						font-size: 30px;
					}
				}
			}
		}
	}
}



/* Header */
header {
	position: fixed;
	width: 100%;
	background-color: desaturate($secondary-color, 20%);
	opacity: 0.9;
	z-index: 1000;

	> nav {
		margin: 0 auto;
		padding: 20px 0;
		width: 90%;
		overflow: auto;
		font-family: "Nevis";

		> a {
			float: left;
			color: $primary-color;
			font-family: "Nevis";
			text-decoration: none;
		}
		nav {
			float: right;

			ul {

				li {
					display: inline-block;
					padding: 0 15px;

					a {
						text-decoration: none;
						font-size: 14px;
						color: $primary-color;
					}
				}
				li:last-child {
					padding: 0;
				}
			}
		}
		a:hover {
			opacity: 0.6;
			-webkit-transition: 0.2s;
			-moz-transition: 0.2s;
			-o-transition: 0.2s;
			transition: 0.2s;
		}

	}
}
header:hover {
	background-color: $secondary-color;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}



/* Home page */
main#Home {

	section:first-child {
		padding: 280px 0;
		width: 100%;
		text-align: center;

		h1 {
			font-size: 50px;
			font-family: "Nevis";
		}
		h2 {
			margin-top: 10px;
			font-size: 16px;
		}
		a {
			color: #bbb; //#4a9de8;
			text-decoration: none;
		}
		a:hover {
			opacity: 0.7;
			-webkit-transition: 0.5s;
			-moz-transition: 0.5s;
			-o-transition: 0.5s;
			transition: 0.5s;
		}
	}
}



/* Rushees page */
main#Rushees {

	section:first-child {

		h1 {
			margin-bottom: 30px;
		}
		span {
			color: #ddd;
		}
		div#masonry-container {
			margin-top: 20px;

			> div.masonry-rushee {
				margin-bottom: 25px;
				width: 300px;
				background-color: #fff;
				border-radius: 3px;
				cursor: pointer;

				img {
					display: block;
					width: 300px;
					border-radius: 2px 2px 0 0;
				}
				div.rushee-info {
					padding: 10px;

					h2 {
						text-shadow: none;

						a {
							color: $primary-color;
							font-size: 14px;
							text-decoration: none;
						}
					}
					p {
						font-size: 14px;
						color: #444;
						line-height: 20px;
					}
				}
				div.rushee-stats {
					width: 100%;
					background-color: #222;
					border-radius: 0 0 2px 2px;

					span {
						display: inline-block;
						padding: 10px 0;
						width: calc(33% - 8px);
						color: #91949d;
						font-size: 12px;
						text-align: center;
						border: 1px solid #444;
						border-style: none solid none none;
					}
					span:last-child {
						border: none;
					}
				}
			}
			> div.masonry-rushee:hover {
				opacity: 0.7;
				-webkit-transition: 0.5s;
				-moz-transition: 0.5s;
				-o-transition: 0.5s;
				transition: 0.5s;	
			}
		}
	}
}



/* Rushee page */
main#Rushee {

	section.rushee-info {
		float: left;
		margin-right: 20px;
		width: 240px;
		background-color: #fff;
		border-radius: 3px;

		img {
			display: block;
			width: 240px;
			border-radius: 2px 2px 0 0;
		}
		ul.rushee-stats {
			width: 100%;
			background-color: #222;

			li {
				display: inline-block;
				padding: 10px 0;
				width: calc(33% - 3px);
				color: #91949d;
				font-size: 11px;
				text-align: center;
				border: 1px solid #444;
				border-style: none solid none none;

				i {
					display: block;
					margin-bottom: 5px;
					font-size: 14px;
				}
				div.rushee-like {
					display: none;
				}
			}
			li:first-child {
				cursor: pointer;
			}
			li:first-child:hover {
				background-color: #EDB74B;
				color: #222;
			}
			li:last-child {
				border: none;
			}
		}
		div.brother-likes-container {
			overflow: auto;

			div.brother-like {
				position: relative;
				float: left;
				width: calc(100% / 5);
				text-align: center;
				
				img {
					width: 100%;
					vertical-align: bottom;
				}
				span {
					padding: 11px 0;
					position: absolute;
					top: 1px;
					width: 100%;
					color: $primary-color;
					font-size: 11px;
				}
			}
			div.brother-like-see-all {
				position: relative;
				float: left;
				width: calc(100% / 5);
				padding: calc(100% / 18) 0;
				text-align: center;
				background-color: #444;
				cursor: pointer;

				i {
					color: #888;
					font-size: 18px;
				}
				span {
					position: absolute;
					top: 0;
					padding: 10px 0;
					color: #eee;
					font-size: 11px;
				}
			}
		}
		div.rushee-info-container {
			padding: 10px;

			h1 {
				margin-top: 10px;
				color: $primary-color;
				text-shadow: none;
			}
			a.rushee-facebook {
				display: block;
				width: 150px;
				color: #fff;
				font-size: 12px;
				text-decoration: none;
				background-color: $facebook-color;
				border-radius: 3px;

				i {
					margin-right: 10px;
					padding: 0 10px;
					font-size: 17px;
					line-height: 28px;
					border-right: 1px solid rgba(0,0,0,0.2);
				}
			}
			a.rushee-facebook:hover {
				background-color: darken($facebook-color, 8%);
			}
			ul.rushee-specs {
				margin-top: 10px;
				list-style: none;

				li {
					margin-bottom: 7px;
					color: #444;
					font-size: 13px;

					strong {
						display: block;
						color: $primary-color;
					}
					a {
						color: #4a9de8;
						text-decoration: none;
					}
				}
			}
			div.rushee-edit {
				margin-top: 40px;
				font-size: 12px;

				span {
					display: block;
					margin-bottom: 5px;
					color: #666;
				}
				ul {
					margin: 0 0 10px 0;
					list-style: none;

					li {
						display: inline-block;
						margin: 0 10px 0 0;

						a {
							color: #f64c3f;
						}
					}
				}
			}
		}
	}
	section.rushee-comments {
		float: left;
		width: calc(100% - 280px);
		padding: 10px;
		background-color: #fff;
		border-radius: 3px;

		h2 {
			color: $primary-color;
			text-shadow: none;
		}
		div.user-comment {

			img {
				width: 50px;
				display: inline-block;
			}
			strong {
				color: $secondary-color;
			}
			span {
				color: #888;
			}
		}
		textarea {
			margin-top: 20px;
			padding: 10px;
			width: calc(100% - 25px);
			border: 1px solid #91949d;
			border-radius: 3px;
		}
		input {
			padding: 5px 10px;
			color: #fff;
			font-size: 12px;
			font-weight: bold;
			text-shadow:0px 1px 0px #cc9f52;
			background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #edb600) );
			background: -moz-linear-gradient( center top, #ffc477 5%, #edb600 100% );
			background-color: #ffc477;
			border: 1px solid #eeb44f;
			border-radius: 3px;
			box-shadow: inset 0px 1px 0px 0px #fce2c1;
			-moz-box-shadow: inset 0px 1px 0px 0px #fce2c1;
			-webkit-box-shadow: inset 0px 1px 0px 0px #fce2c1;
			outline: none;
			cursor: pointe
		}
		input:active {
			position:relative;
			top:1px;
		}
	}
}



/* New rushees page */
main#New-Rushee {

	section:first-child {

		form {
			margin-top: 20px;

			label {
				display: block;
				padding: 10px 0;
				color: $secondary-color;
				text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
			}
			input, textarea {
				display: block;
				margin-bottom: 10px;
				padding: 8px 10px;
				font-size: 14px;
				border: 1px solid $secondary-color;
				border-radius: 3px;
			}
			input {
				width: 200px;
				height: 14px;
			}
			textarea {
				width: 400px;
				height: 150px;
			}
			input#rushee_image {
				border: none;
				width: 220px;
				height: 20px;
				vertical-align: middle;
				font-size: 12px;
				color: #fff;
			}
			input:last-child {
				margin: 15px 0 0 0;
				width: 150px;
				height: 2.4em;
				color: $primary-color;
				background-color: $secondary-color;
				box-shadow: 0 3px 0 #333;
			}
		}
	}
}



/* Edit rushee page */
main#Edit-Rushee {

	section:first-child {

		form {
			margin-top: 20px;

			label {
				display: block;
				padding: 10px 0;
				color: $secondary-color;
				text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
			}
			input, textarea {
				display: block;
				margin-bottom: 10px;
				padding: 8px 10px;
				font-size: 14px;
				border: 1px solid $secondary-color;
				border-radius: 3px;
			}
			input {
				width: 200px;
				height: 14px;
			}
			textarea {
				width: 400px;
				height: 150px;
			}
			input#rushee_image {
				border: none;
				width: 220px;
				height: 20px;
				vertical-align: middle;
				font-size: 12px;
				color: #fff;
			}
			input:last-child {
				margin: 15px 0 0 0;
				width: 150px;
				height: 2.4em;
				color: $primary-color;
				background-color: $secondary-color;
				box-shadow: 0 3px 0 #333;
			}
		}
	}
}
