/* Globals */
@font-face {
	font-family: "Nevis";
	src: url(/app/assets/fonts/Nevis/nevis.ttf);
}

$font-family: "Nevis", "Lucida-Grande", Arial, Helvetica, sans-serif;
$primary-color: #003050;
$secondary-color: #edb700;
$h1-color: $secondary-color;
$h2-color: $secondary-color;



/* Templating */
html, body, div, span, h1, h2, h3, h4,
h5, h6, p, a, img, i, ol, ul, li, form,
label, table, caption, {
	margin: 0;
	padding: 0;
}
html {
	font-family: $font-family;
	background-color: $primary-color;

	.wrapper {
		width: 100%;

		main {
			width: 100%;

			section {

				h1 {
					color: $h1-color;
					text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
				}
				h2 {
					color: $h2-color;
					text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
				}
			}
		}
	}
}



/* Header */
header {
	width: 100%;
	background-color: $secondary-color;

	> nav {
		margin: 0 auto;
		padding: 10px 0;
		width: 90%;
		overflow: auto;

		> a {
			float: left;
			text-decoration: none;
			color: $primary-color;
		}
		nav {
			float: right;

			ul {

				li {
					display: inline-block;
					padding: 0 10px;

					a {
						text-decoration: none;
						color: $primary-color;
					}
				}
			}
		}
		a:hover {
			opacity: 0.7;
			-webkit-transition: 0.5s;
			-moz-transition: 0.5s;
			-o-transition: 0.5s;
			transition: 0.5s;
		}

	}
}




/* Home page */
main#Home {

	section:first-child {
		padding: 250px 0;
		width: 100%;
		text-align: center;

		h1 {
			margin-bottom: 10px;
			font-size: 50px;
		}
		h2 {
			margin-top: 10px;
			font-size: 16px;
		}
		a {
			color: #bbb; //#4a9de8;
			text-decoration: none;
		}
		a:hover {
			opacity: 0.7;
			-webkit-transition: 0.5s;
			-moz-transition: 0.5s;
			-o-transition: 0.5s;
			transition: 0.5s;
		}
	}
}



/* Rushees page */
main#Rushees {

}



/* New rushees */
main#New-Rushee {

	section:first-child {
		padding: 30px 0 0 50px;

		h1 {
			font-size: 30px;
		}
		form {
			margin-top: 20px;

			label {
				display: block;
				padding: 10px 0;
				color: $secondary-color;
				text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
			}
			input, textarea {
				display: block;
				margin-bottom: 10px;
				padding: 8px 10px;
				font-size: 14px;
				border: 1px solid $secondary-color;
				border-radius: 3px;
			}
			input {
				width: 200px;
				height: 14px;
			}
			textarea {
				width: 400px;
				height: 150px;
			}
			input#rushee_image {
				border: none;
				width: 220px;
				height: 20px;
				vertical-align: middle;
				font-size: 12px;
				color: #fff;
			}
			input:last-child {
				margin: 15px 0 0 0;
				width: 150px;
				height: 2.4em;
				color: $primary-color;
				background-color: $secondary-color;
				box-shadow: 0 3px 0 #333;
			}
		}
	}
}

