@font-face {
	font-family: "Nevis";
	src: url(/fonts/Nevis/nevis.ttf);
}
@font-face {
	font-family: "Font-Awesome";
	src: url(/fonts/Font-Awesome/fonts/FontAwesome.otf);
}

$font-stack: Arial, Helvetica, sans-serif;
$primary-color: #001e33;//#002640;// #003050;
$secondary-color: #edb700;
$facebook-color: #3b5998;
$h1-color: $secondary-color;
$h2-color: $secondary-color;

$desktop-main-inner-width: 80%;
$desktop-header-inner-width: 90%;
$desktop-rushee-info-width: 240px;
$desktop-rushee-brother-like-height: 46px;
$desktop-rushee-comments-width: calc(100% - 280px);
$desktop-rushee-comments-comment-left-width: calc(100% - 135px);
$desktop-rushee-comments-comment-image-wrapper-width: 50px;
$desktop-rushee-comments-commenter-width: 90px;

$mobile-main-inner-width: 95%;
$mobile-header-inner-width: 95%;
$mobile-rushee-info-width: 100%;
$mobile-rushee-brother-like-height: 61px;
$mobile-landscape-rushee-brother-like-height: 92px;
$mobile-rushee-comments-width: calc(100% - 20px);
$mobile-rushee-comments-comment-left-width: 100%;
$mobile-rushee-comments-comment-image-wrapper-width: 40px;
$mobile-rushee-comments-commenter-width: 78px;




/* Templating */
html, body, div, span, h1, h2, h3, h4,
h5, h6, p, a, img, i, ol, ul, li, form,
label, table, caption, {
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
	font-family: $font-stack;
	// background-image: -ms-linear-gradient(top left, #001E33 0%, #003752 100%);
	// background-image: -moz-linear-gradient(top left, #001E33 0%, #003752 100%);
	// background-image: -o-linear-gradient(top left, #001E33 0%, #003752 100%);
	// background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #001E33), color-stop(1, #003752));
	// background-image: -webkit-linear-gradient(top left, #001E33 0%, #003752 100%);
	// background-image: linear-gradient(to bottom right, #001E33 0%, #003752 100%);
	background-color: #003752;
	background-attachment: fixed;

	body {

		.wrapper {
			width: 100%;

			div.alert {
				z-index: 10001;
				position: absolute;
				top: 48px;
				left: 0;
				padding: 10px 10px;
				width: calc(100% - 20px);
				text-align: center;
				color: #fff;
				background-color: rgba(173, 228, 255, 0.7);
			}
			main {
				margin: 0 auto;
				padding: 70px 0 20px 0;
				width: $mobile-main-inner-width;
				max-width: 1145px;
				overflow: auto;

				section {

					h1 {
						color: $h1-color;
						text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
					}
					h2 {
						color: $h2-color;
						text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
					}
				}
				section:first-child {

					> h1 {
						margin: 0 0 10px 0;
						font-size: 30px;
					}
				}
			}
			@media(min-width: 481px) {
				main {
					width: $desktop-main-inner-width;
				}
			}
		}
	}
	body.modal-open {
		overflow: hidden;
	}
}



/* Header */
header {
	position: fixed;
	width: 100%;
	background-color: desaturate($secondary-color, 20%);
	opacity: 0.95;
	z-index: 1000;

	> nav {
		margin: 0 auto;
		padding: 15px 0;
		width: $mobile-header-inner-width;
		overflow: auto;
		font-family: "Nevis";

		> a {
			float: left;
			color: $primary-color;
			font-family: "Nevis";
			text-decoration: none;
		}
		i {
			float: right;
			font-size: 18px;
		}
		nav {
			display: none;
			margin-top: 30px;

			ul {
				float: right;
				text-align: right;

				li {
					display: block;
					margin-bottom: 5px;

					a {
						text-decoration: none;
						font-size: 14px;
						color: $primary-color;
					}
				}
			}
		}
		a:hover {
			opacity: 0.6;
			-webkit-transition: 0.2s;
			-moz-transition: 0.2s;
			-o-transition: 0.2s;
			transition: 0.2s;
		}

	}
	@media(min-width: 481px) {
		> nav {
			width: $desktop-header-inner-width;
		}
	}
}
header:hover {
	background-color: $secondary-color;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}
@media(min-width: 481px) {
	header {

		> nav {

			> i#header-menu {
				display: none;
			}
			nav {
				display: block;
				float: right;
				margin-top: 0;

				ul {
					float: none;
					text-align: inherit;

					li {
						display: inline-block;
						margin-bottom: 0;
						padding: 0 15px;

						a { }
					}
					li:last-child {
						padding: 0;
					}
				}
			}
		}
	}
}



/* Home */
main#Home {

	section#home-banner {
		text-align: center;
		padding-top: 110px;

		h1 {
			margin-bottom: 0px;
			font-size: 50px;
			line-height: 50px;
		}
		h2 {
			margin-bottom: 10px;
			font-size: 15px;
		}
		a {
			font-size: 18px;
			color: #bbb;
			text-decoration: none;
		}
	}
	@media(min-width: 321px) {
		section#home-banner {
			padding-top: 70px;
		}
	}
	@media(min-width: 481px) {
		section#home-banner {
			padding-top: 240px;

			h1 {
				font-size: 60px;
				margin-bottom: 10px;
			}
			h2 {
				font-size: 18px;
			}
		}
	}
}



/* Rushees page */
main#Rushees {

	section#rushees-list {

		span {
			margin-right: 5px;
			color: #eee;
		}
		select {
			padding: 2px 6px;
			width: 100px;
			font-family: $font-stack;
			font-size: 13px;
			appearance: none;
			-moz-appearance: none;
			-webkit-appearance: none;
			background-color: #fff;
			background-image: url(/caret-down.jpg);
			background-repeat: no-repeat;
			background-position: 70px -5px;
			background-size: 30px 30px;
			border: none;
			border-radius: 2px;
			cursor: pointer;
			outline: none;
		}
		div#masonry-container {
			margin-top: 20px;

			> div.masonry-rushee {
				margin-bottom: 25px;
				width: 300px;
				background-color: #fff;
				border-radius: 3px;
				cursor: pointer;

				div.rushee-status {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 40px;
					text-align: center;
					line-height: 40px;
					color: #fff;
					border-radius: 3px 3px 0 0;
				}
				div.rushee-status.bid-dropped { background-color: rgba(16, 143, 57, 0.7); }
				div.rushee-status.bid-offered { background-color: rgba(87, 149, 255, 0.7); }
				div.rushee-status.bid-tabled { background-color: rgba(222, 204, 16, 0.7); }
				div.rushee-status.bid-refused { background-color: rgba(255, 104, 19, 0.7); }
				div.rushee-status.rip-corded { background-color: rgba(217, 40, 18, 0.7); }
				div.rushee-legacy {
					position: absolute;
					bottom: 0;
					right: 20px;
					width: 20px;
					background-color: #fff;
				}
				div.rushee-image-wrapper {
					width: 100%;
					max-height: 350px;
					overflow: hidden;

					img {
						display: block;
						width: 100%;
						border-radius: 2px 2px 0 0;
					}
				}
				div.rushee-info {
					padding: 10px;

					h2 {
						text-shadow: none;

						a {
							color: $primary-color;
							font-size: 14px;
							text-decoration: none;
						}
					}
					p {
						font-size: 14px;
						color: #444;
						line-height: 20px;
					}
				}
				div.rushee-stats {
					width: 100%;
					background-color: #222;
					border-radius: 0 0 2px 2px;

					span {
						display: inline-block;
						padding: 10px 0;
						width: calc(33% - 8px);
						color: #91949d;
						font-size: 12px;
						text-align: center;
						border: 1px solid #444;
						border-style: none solid none none;
					}
					span:last-child {
						border: none;
					}
				}
			}
			> div.masonry-rushee:hover {
				opacity: 0.7;
				-webkit-transition: 0.5s;
				-moz-transition: 0.5s;
				-o-transition: 0.5s;
				transition: 0.5s;	
			}
		}
	}
	section#rushees-news {
		display: none;
	}
	@media(min-width: 321px) {
		section#rushees-list {

			div#masonry-container {

				> div.masonry-rushee {
					width: 100%;

					img {
						
					}
				}
			}
		}
	}
	@media(min-width: 481px) {
		section#rushees-list {

			div#masonry-container {

				> div.masonry-rushee {
					width: 300px;
				}
			}
		}
	}
	@media(min-width: 800px) {
		margin: 0 0 0 50px;
		padding-bottom: 0;
		width: calc(100% - 50px);
		max-width: none;

		section#rushees-list {
			float: left;
			width: calc(100% - 250px - 50px - 25px);
		}
		section#rushees-news {
			display: block;
			float: right;
			margin-top: -22px;
			width: 250px;
			overflow-y: scroll;

			ul.rushees-news-list {
				width: 100%;
				list-style: none;

				li.news-item {
					width: 100%;
					height: 75px;
					background-color: #e5e5e5;
					border-bottom: 1px solid #aaa;
					cursor: pointer;

					> a {
						display: none;
					}
					div.news-comment-image-wrapper {
						display: inline-block;
						overflow: hidden;
						width: 75px;
						height: 75px;

						> img.portrait {
							width: 100%;
							height: auto;
						}
						> img.landscape {
							width: auto;
							height: 100%;
						}
					}
					div.news-comment {
						display: inline-block;
						margin-top: 10px;
						margin-left: 10px;
						vertical-align: top;
						text-align: left;
						width: calc(100% - 80px - 10px);

						span {
							color: #333;
						}
						span.news-commenter {
							font-size: 15px;
							font-weight: bold;
						}
						span.news-comment-text {
							text-align: right;
							font-size: 14px;
						}
					}
				}
			}
		}
	}
}

/* Stats page */
main#Stats {

	section#stats-list {

		div#masonry-container {
			margin-top: 20px;

			div.masonry-rushee {
			margin-bottom: 25px;
			width: 300px;
			height: auto;	
			}

			div.rushee-list {
				margin-bottom: 10px;
				margin-top: 10px;
				width: 300px;
				background-color: #fff;
				border-radius: 4px;
				cursor: pointer;
				overflow: auto;
				// display: table;

				div.rushee-status {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 40px;
					text-align: center;
					line-height: 40px;
					color: #fff;
					border-radius: 3px 3px 0 0;
				}
				div.rushee-status.bid-dropped { background-color: rgba(16, 143, 57, 0.7); }
				div.rushee-status.bid-offered { background-color: rgba(87, 149, 255, 0.7); }
				div.rushee-status.bid-tabled { background-color: rgba(222, 204, 16, 0.7); }
				div.rushee-status.bid-refused { background-color: rgba(255, 104, 19, 0.7); }
				div.rushee-status.rip-corded { background-color: rgba(217, 40, 18, 0.7); }
				div.rushee-legacy {
					position: absolute;
					bottom: 0;
					right: 20px;
					width: 20px;
					background-color: #fff;
				}
				div.rushee-image-wrapper {
					width: 60px;
					height: 60px;
					overflow: hidden;
					float: left;
					position: relative;

					img {
						width: 100%;
						display: block;
					    min-width: 100%;
					    min-height: 100%;
					    margin: auto;
					    position: absolute;
					    top: -100%;
					    right: -100%;
					    bottom: -100%;
					    left: -100%;
						border-radius: 4px 0 0 4px;
					}
				}
				div.rushee-info {
					height: 100%;
					width: 100%;
					display: table-cell;
					vertical-align: middle;

					h2 {
						padding: 10px;
						width: 100%;
						text-shadow: none;

						a {
							color: $primary-color;
							font-size: 14px;
							text-decoration: none;
						}
					}
				}
				div.rushee-stats {
					width: 100%;
					background-color: #222;
					border-radius: 0 0 2px 2px;

					span {
						display: inline-block;
						padding: 10px 0;
						width: calc(33% - 8px);
						color: #91949d;
						font-size: 12px;
						text-align: center;
						border: 1px solid #444;
						border-style: none solid none none;
					}
					span:last-child {
						border: none;
					}
				}
			}
			> div.list-rushee:hover {
				opacity: 0.7;
				-webkit-transition: 0.5s;
				-moz-transition: 0.5s;
				-o-transition: 0.5s;
				transition: 0.5s;	
			}
		}
	}
	@media(min-width: 321px) {
		section#stats-list {

			div#list-container {

				> div.list-rushee {
					width: 100%;

					img {
						
					}
				}
			}
		}
	}
	@media(min-width: 481px) {
		section#stats-list {

			div#list-container {

				> div.list-rushee {
					width: 300px;
				}
			}
		}
	}
	@media(min-width: 800px) {
		margin: 0 0 0 50px;
		padding-bottom: 0;
		width: calc(100% - 50px);
		max-width: none;

		section#stats-list {
			float: left;
			width: calc(100% - 100px);
		}
	}
}

/* Rushee page */
main#Rushee {

	section.rushee-info {
		position: relative;
		float: left;
		margin-right: 20px;
		width: $mobile-rushee-info-width;
		background-color: #fff;
		border-radius: 3px;

		div.rushee-status {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 40px;
			text-align: center;
			line-height: 40px;
			color: #fff;
			border-radius: 3px 3px 0 0;
		}
		div.rushee-status.bid-dropped { background-color: rgba(16, 143, 57, 0.7); }
		div.rushee-status.bid-offered { background-color: rgba(87, 149, 255, 0.7); }
		div.rushee-status.bid-tabled { background-color: rgba(222, 204, 16, 0.7); }
		div.rushee-status.bid-refused { background-color: rgba(255, 104, 19, 0.7); }
		div.rushee-status.rip-corded { background-color: rgba(217, 40, 18, 0.7); }
		div.rushee-image-wrapper {
			width: 100%;
			max-height: 300px;
			overflow: hidden;

			img {
				display: block;
				width: $mobile-rushee-info-width;
				border-radius: 2px 2px 0 0;
			}			
		}
		ul.rushee-stats {
			width: 100%;
			background-color: #222;

			li {
				display: inline-block;
				width: calc(33% - 3px);
				color: #91949d;
				font-size: 11px;
				text-align: center;
				border: 1px solid #444;
				border-style: none solid none none;

				i {
					display: block;
					margin-bottom: 5px;
					font-size: 14px;
				}
			}
			li.btn {

				a {
					display: block;
					padding: 10px 0;
					width: 100%;
					text-decoration: none;
					color: #91949d;
				}
			}
			li.liked {
				background-color: #edb74b;

				a {
					color: #222;
				}
			}
			li:first-child {
				cursor: pointer;
			}
			li:first-child:hover {
				background-color: #EDB74B;

				a {
					color: #222;
				}
			}
			li:last-child {
				border: none;
			}
		}
		div.brother-likes-container {
			overflow: auto;

			div.brother-like {
				position: relative;
				float: left;
				width: calc(100% / 5);
				height: $mobile-rushee-brother-like-height;
				text-align: center;
				overflow: hidden;
				
				img.portrait {
					width: 100%;
					height: auto;
				}
				img.landscape {
					width: auto;
					height: 100%;
				}
				div.brother-likes-image-overlay {
					display: none;
					position: absolute;
					width: calc(#{$mobile-rushee-brother-like-height} + 2px);
					height: $mobile-rushee-brother-like-height;
					top: 0;
					left: 0;
					background: rgba(0, 0, 0, 0.4);
				}
				span {
					padding: 16px 0;
					position: absolute;
					top: 1px;
					width: 100%;
					color: #fff;
					font-size: 11px;
				}
			}
			div.brother-like-see-all {
				position: relative;
				float: left;
				width: calc(100% / 5);
				padding: calc(100% / 16 + 2px) 0;
				text-align: center;
				background-color: #444;
				cursor: pointer;

				i {
					color: #888;
					font-size: 18px;
				}
				div.brother-likes-image-overlay {
					display: none;
					position: absolute;
					width: calc(#{$mobile-rushee-brother-like-height} - 1px);
					height: $mobile-rushee-brother-like-height;
					top: 0;
					left: 0;
					background: rgba(0, 0, 0, 0.4);
				}
				span {
					position: absolute;
					top: 0;
					padding: 15px 0;
					color: #fff;
					font-size: 12px;
				}
			}
		}
		div.rushee-info-container {
			padding: 10px;

			h1 {
				margin-top: 10px;
				color: $primary-color;
				text-shadow: none;
			}
			a.rushee-facebook {
				display: block;
				width: 150px;
				color: #fff;
				font-size: 12px;
				text-decoration: none;
				background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #476CB8), color-stop(1, $facebook-color) );
				background: -moz-linear-gradient( center top, #476CB8 5%, $facebook-color 100% );
				background-color: $facebook-color;
				border: 1px solid #466AB5;
				border-radius: 3px;

				i {
					margin-right: 10px;
					padding: 0 10px;
					font-size: 17px;
					line-height: 28px;
					border-right: 1px solid rgba(0,0,0,0.2);
				}
			}
			a.rushee-facebook:hover {
				background-color: darken($facebook-color, 8%);
			}
			ul.rushee-specs {
				margin-top: 10px;
				list-style: none;

				li {
					margin-bottom: 7px;
					color: #444;
					font-size: 13px;

					strong {
						display: block;
						color: $primary-color;
					}
					a {
						color: #4a9de8;
						text-decoration: none;
					}
				}
			}
			div.rushee-edit {
				margin-top: 40px;
				font-size: 12px;

				span {
					display: block;
					margin-bottom: 5px;
					color: #666;
				}
				ul {
					margin: 0 0 10px 0;

					li {
						margin: 0 10px 0 0;
					}
				}
				ul.rushee-edit-general {
					list-style: none;

					li {
						display: inline-block;

						a {
							color: #f64c3f;
						}
					}
				}
				ul.rushee-edit-bid-status {
					list-style: none;

					li {

						a {
							color: #6487FF;
							text-decoration: none;
						}
					}
				}
			}
		}
	}
	@media(min-width: 321px) {
		section.rushee-info {

			div.brother-likes-container {

				div.brother-like {
					height: $mobile-landscape-rushee-brother-like-height;

					div.brother-likes-image-overlay {
						width: calc(#{$mobile-landscape-rushee-brother-like-height} + 2px);
						height: $mobile-landscape-rushee-brother-like-height;
					}
					span {
						padding: 37px 0;
					}
				}
				div.brother-like-see-all {
					padding: calc(100% / 14 + 4px) 0;

					div.brother-likes-image-overlay {
						width: $mobile-landscape-rushee-brother-like-height;
						height: $mobile-landscape-rushee-brother-like-height;
					}
					span {
						padding: 23px 0;
						font-size: 18px;
					}
				}
			}
		}
	}
	@media(min-width: 481px) {
		section.rushee-info {
			width: $desktop-rushee-info-width;

			img {
				width: $desktop-rushee-info-width;
			}
			div.brother-likes-container {

				div.brother-like {
					height: $desktop-rushee-brother-like-height;

					div.brother-likes-image-overlay {
						width: calc(#{$desktop-rushee-brother-like-height} + 2px);
						height: $desktop-rushee-brother-like-height;
					}
					span {
						padding: 11px 0;
						top: 1px;
					}
				}
				div.brother-like-see-all {
					padding: calc(100% / 18) 0;

					div.brother-likes-image-overlay {
						width: calc(#{$desktop-rushee-brother-like-height} + 2px);
						height: $desktop-rushee-brother-like-height;
					}
					span {
						padding: 10px 0;
						font-size: 11px;
					}
				}
			}
		}
	}
	section.rushee-comments {
		float: left;
		margin-top: 15px;
		padding: 10px;
		width: $mobile-rushee-comments-width;
		overflow: auto;
		background-color: #fff;
		border-radius: 3px;

		form {
			margin-bottom: 30px;
			padding: 10px;
			background-color: #f7f7f7;
			border-radius: 3px;

			textarea {
				display: inline-block;
				padding: 10px;
				width: calc(100% - 110px);
				height: 60px;
				resize: none;
				border: 1px solid #bbb;
				border-radius: 3px;
			}
			input {
				display: inline-block;
				padding: 32px 9px;
				vertical-align: top;
				color: #fff;
				font-size: 12px;
				font-weight: bold;
				text-shadow:0px 1px 0px #cc9f52;
				background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #edb600) );
				background: -moz-linear-gradient( center top, #ffc477 5%, #edb600 100% );
				background-color: #ffc477;
				border: 1px solid #eeb44f;
				border-radius: 3px;
				box-shadow: inset 0px 1px 0px 0px #fce2c1;
				-moz-box-shadow: inset 0px 1px 0px 0px #fce2c1;
				-webkit-box-shadow: inset 0px 1px 0px 0px #fce2c1;
				outline: none;
				cursor: pointer;
			}
			input:active {
				position:relative;
				top:1px;
			}
			input:hover {
				opacity: 0.9;
			}
		}
		div.comments-wrapper {
			overflow: auto;
			background: url(/crest.png);
			background-size: 260px 351px;
			background-repeat: no-repeat;
			background-position: 50% 40px;


			div.user-comment {
				clear: both;
				overflow: auto;
				margin-bottom: 20px;

				div.comment-left {
					float: left;
					width: $mobile-rushee-comments-comment-left-width;

					div.comment-commenter {
						float: left;
						min-height: 70px;
						width: $mobile-rushee-comments-commenter-width;

						div.comment-commenter-image-wrapper {
							width: $mobile-rushee-comments-comment-image-wrapper-width;
							height: $mobile-rushee-comments-comment-image-wrapper-width;
							overflow: hidden;

							img.portrait {
								width: $mobile-rushee-comments-comment-image-wrapper-width;
								height: auto;
							}
							img.landscape {
								width: auto;
								height: $mobile-rushee-comments-comment-image-wrapper-width;
							}
						}
						strong.comment-name {
							display: block;
							margin-top: 4px;
							color: #666;
							font-size: 12px;
							font-weight: normal;
						}
					}
					div.comment-comment {
						display: inline-block;
						max-width: calc(100% - 80px);
						background-color: #eee;
						border: 1px solid #eee;
						border-radius: 8px;

						span.comment-body {
							display: block;
							padding: 7px 10px;
							font-size: 12px;
						}
					}
				}
				div.comment-right {
					float: right;
					font-size: 12px;
					text-align: right;

					> div {
						display: inline-block;
					}
					div.comment-time {
						color: #555;
					}
					div.comment-like {

						a {

							i {
								font-size: 16px;
							}
							i.liked {
								color: #63C0FF;
							}
							i.not-liked {
								color: #ccc;
							}
						}
					}
					div.comment-edit {
						margin-top: 4px;

						a {
							color: #f64c3f;
							text-decoration: none;
						}
					}
				}
			}
		}
	}
	@media(min-width: 481px) {
		section.rushee-comments {
			margin-top: 0;
			width: $desktop-rushee-comments-width;

			div.comments-wrapper {
				background-size: 330px 446px;

				div.user-comment {

					div.comment-left {
						width: $desktop-rushee-comments-comment-left-width;

						div.comment-commenter {
							width: $desktop-rushee-comments-commenter-width;

							div.comment-commenter-image-wrapper {
								width: $desktop-rushee-comments-comment-image-wrapper-width;
								height: $desktop-rushee-comments-comment-image-wrapper-width;

								img.portrait {
									width: $desktop-rushee-comments-comment-image-wrapper-width;
								}
								img.landscape {
									height: $desktop-rushee-comments-comment-image-wrapper-width;
								}
							}
							strong.comment-name {
								font-size: 13px;
							}
						}
						div.comment-comment {
							max-width: calc(100% - 100px);

							span.comment-body {
								padding: 10px 15px;
								font-size: 13px;
							}
						}
					}
					div.comment-right {

						> div {
							display: block;
						}
						div.comment-like {
							font-size: 13px;

							a {

								i {
									font-size: 20px;
								}
							}
						}
					}
				}
			}
		}
	}
	section.rushee-modal {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		background-color: rgba(34,34,34,0.6);

		div.modal-content {
			margin: 0 auto;
			vertical-align: middle;
			width: 290px;
			height: 450px;
			background-color: lighten($primary-color, 5%);
			border-radius: 3px;

			h2 {
				padding: 10px;
				color: #222;
				font-size: 17px;
				text-shadow: none;
				background-color: #f3f3f3;
				border-radius: 3px 3px 0 0;
			}
			div.modal-likes {
				padding: 10px;

				div.modal-like {
					margin-bottom: 10px;
					width: 60px;
					height: 60px;
					overflow: hidden;
					text-align: center;

					img {
						position: relative;
					}
					img.portrait {
						width: 60px;
						height: auto;
					}
					img.landscape {
						width: auto;
						height: 60px;
					}
					div.modal-image-overlay {
						position: absolute;
						top: 0;
						left: 0;
						width: 60px;
						height: 60px;
						background: rgba(0, 0, 0, 0.4);
					}
					span.modal-image-name {
						padding: 11px 0;
						position: absolute;
						top: 6px;
						left: 2px;
						color: #fff;
						font-size: 11px;
					}
				}
			}
		}
	}
}



/* New rushees page */
main#New-Rushee {

	section#new-rushee-form {

		form {
			margin-top: 20px;

			div#new-rushee-quick-info {
				margin-bottom: 30px;

				div.new-rushee-input-item {
					width: 100%;

					i {
						float: left;
						padding: 0 5px;
						height: 32px;
						line-height: 32px;
						font-size: 22px;
						color: $secondary-color;
						background-color: #fff;
						border-radius: 3px 0 0 3px;
					}
					input {
						display: block;
						margin-bottom: 10px;
						padding: 8px 10px;
						height: 14px;
						font-size: 12px;
						background-color: #fff;
						border: 1px solid #fff;
						border-radius: 0 3px 3px 0;
						outline: none;
					}
					input#name {
						width: 253px;
					}
					input#age {
						width: 251px;
					}
					input#major {
						width: 242px;
					}
					input#hometown {
						width: 250px;
					}
					input#campus-involvement {
						width: 248px;
					}
					input#facebook-link {
						width: 257px;
					}
				}
				label {
					display: block;
					padding: 10px 0;
					color: $secondary-color;
					text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
				}
				input#legacy {
					display: inline-block;
				}
				input#legacy + span {
					margin-left: 5px;
					font-size: 12px;
					color: #fff;
				}
				input#rushee_image {
					border: none;
					width: 220px;
					height: 20px;
					vertical-align: middle;
					font-size: 12px;
					color: #fff;
				}
			}
			div#new-rushee-rushee-summary {
				float: left;
				overflow: auto;

				i {
					float: left;
					padding: 0 8px;
					height: 363px; //243
					line-height: 35px;
					font-size: 24px;
					color: $secondary-color;
					background-color: #fff;
					border-radius: 3px 0 0 3px;
				}
				textarea {
					display: block;
					margin-bottom: 10px;
					padding: 8px 10px;
					width: 255px;
					height: 345px; //225
					font-size: 12px;
					border: 1px solid #fff;
					border-radius: 0 3px 3px 0;
					outline: none;
					resize: none;
				}
			}
			input#new-rushee-submit {
				display: block;
				clear: both;
				margin: 55px 0 0 0;
				width: 150px;
				height: 2.4em;
				color: $primary-color;
				background-color: $secondary-color;
				border: 1px solid $secondary-color;
				border-radius: 3px;
				box-shadow: 0 3px 0 #333;
			}
		}
	}
	@media(min-width: 321px) {
		section#new-rushee-form {

			form {

				div#new-rushee-quick-info {
					float: left;
					overflow: auto;

					div.new-rushee-input-item {
						width: 200px;

						input#name {
							width: 151px;
						}
						input#age {
							width: 149px;
						}
						input#major {
							width: 140px;
						}
						input#hometown {
							width: 148px;
						}
						input#campus-involvement {
							width: 146px;
						}
						input#facebook-link {
							width: 155px;
						}
					}
				}
				div#new-rushee-rushee-summary {

					textarea {
						width: 189px;
						font-size: 16px;
					}	
				}
			}
		}
	}
	@media(min-width: 481px) {
		section#new-rushee-form {

			form {

				div#new-rushee-rushee-summary {

					textarea {
						width: 480px;
					}	
				}
			}
		}
	}
}



/* Edit rushee page */
main#Edit-Rushee {

	section#edit-rushee-form{

		form {
			margin-top: 20px;

			img#rushee-image {
				display: block;
			}
			> label {
				display: block;
				padding: 10px 0;
				color: $secondary-color;
				text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
			}
			input#rushee_image {
				display: block;
				margin-bottom: 20px;
				width: 220px;
				height: 20px;
				vertical-align: middle;
				font-size: 12px;
				color: #fff;
				border: none;
			}

			div#new-rushee-quick-info {
				margin-bottom: 30px;

				div.new-rushee-input-item {
					width: 100%;

					i {
						float: left;
						padding: 0 5px;
						height: 32px;
						line-height: 32px;
						font-size: 22px;
						color: $secondary-color;
						background-color: #fff;
						border-radius: 3px 0 0 3px;
					}
					input {
						display: block;
						margin-bottom: 10px;
						padding: 8px 10px;
						height: 14px;
						font-size: 12px;
						background-color: #fff;
						border: 1px solid #fff;
						border-radius: 0 3px 3px 0;
					}
					input#name {
						width: 253px;
					}
					input#age {
						width: 251px;
					}
					input#major {
						width: 242px;
					}
					input#hometown {
						width: 250px;
					}
					input#campus-involvement {
						width: 248px;
					}
					input#facebook-link {
						width: 257px;
					}
				}
				label {
					display: block;
					padding: 10px 0;
					color: $secondary-color;
					text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
				}
				input#legacy {
					display: inline-block;
				}
				input#legacy + span {
					margin-left: 5px;
					font-size: 12px;
					color: #fff;
				}
			}
			div#new-rushee-rushee-summary {
				float: left;
				overflow: auto;

				i {
					float: left;
					padding: 0 8px;
					height: 313px; //243
					line-height: 35px;
					font-size: 24px;
					color: $secondary-color;
					background-color: #fff;
					border-radius: 3px 0 0 3px;
				}
				textarea {
					display: block;
					margin-bottom: 10px;
					padding: 8px 10px;
					width: 255px;
					height: 295px; //225
					font-size: 16px;
					border: 1px solid #fff;
					border-radius: 0 3px 3px 0;
					outline: none;
					resize: none;
				}
			}
			input#new-rushee-submit {
				display: block;
				clear: both;
				margin: 55px 0 0 0;
				width: 150px;
				height: 2.4em;
				color: $primary-color;
				background-color: $secondary-color;
				border: 1px solid $secondary-color;
				border-radius: 3px;
				box-shadow: 0 3px 0 #333;
			}
		}
	}
	@media(min-width: 321px) {
		section#edit-rushee-form {

			form {

				div#new-rushee-quick-info {
					float: left;
					overflow: auto;

					div.new-rushee-input-item {
						width: 200px;

						input#name {
							width: 151px;
						}
						input#age {
							width: 149px;
						}
						input#major {
							width: 140px;
						}
						input#hometown {
							width: 148px;
						}
						input#campus-involvement {
							width: 146px;
						}
						input#facebook-link {
							width: 155px;
						}
					}
				}
				div#new-rushee-rushee-summary {

					i {
						margin-left: 20px;
					}
					textarea {
						width: 189px;
					}
				}
			}
		}
	}
	@media(min-width: 481px) {
		section#edit-rushee-form {

			form {

				div#new-rushee-rushee-summary {

					textarea {
						width: 480px;
						font-size: 16px;
					}	
				}
			}
		}
	}
}
