<main id="Rushees">

    <section class="transitions-enabled" >

        <h1>Rushees</h1>

        <% @rushees.each do |rushee| %>

            <div class="transitions-enabled" >
                <%= image_tag rushee.image.url(:medium) %>
                <%= link_to rushee.name, rushee_path(rushee) %>
                <% if rushee.votes_for.size == 1 %>
                    <span>1 like</span>
                <% else %>
                    <span><%= rushee.votes_for.size %> likes</span>
                <% end %>
            </div>

        <% end %>

    </section>

</main>