<div id="rushees">
  <% @rushees.each do |rushee| %>
    <div class="box panel panel-default"> <!-- Class doesn't work, bootstrap deleted :( -->
      <%= image_tag rushee.image.url(:medium) %>
      <div class="panel-body"> <!-- See above -->
          <%= link_to rushee.name, rushee_path(rushee) %>
          <%= rushee.user.name  %>
      </div>
    </div>
  <% end %>
</div>