<main id="Stats">

    <section id="stats-list">

        <h1>Rush Overview</h1>
        <div id="list-container">
            <div id="bids-given">
                <h2>Bids Given</h2>
                <% @rushees.each do |rushee| %>
                    <% if rushee.bid_offered? %>
                        <div class="list-rushee">
                            <div class="rushee-image-wrapper">
                                <%= image_tag rushee.image.url() %>
                            </div>
                            <div class="rushee-info">
                                <h2><%= link_to rushee.name, rushee_path(rushee) %></h2>
                            </div>
                        </div>
                    <% end %>
                <% end %>
            </div>
            <div id="most-likes">
            </div>       
            <div id="most-comments">
            </div> 
        </div>

    </section>

</main>