<!DOCTYPE html>

<html>
	
	<%= render 'layouts/head' %>
	
	<body>

		<%= render 'layouts/header' %>

		<div class="wrapper">

			<% flash.each do |name, msg| %>
				<%= content_tag(:div, msg, class: "alert alert-info") %>
			<% end %>
			<%= yield %>
			
		</div>
	</body>
	
</html>
